/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
     --dark-color : #364652;
     --blue-color : #C7DBE6;
     --grey-color : #B5BEC6;
}
body {
     font-family: "Poppins", sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 120px;
     width: 100%;
     background-color: var(--dark-color);
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

