/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
     --dark-color: #364652;
     --blue-color: #C7DBE6;
     --grey-color: #B5BEC6;
}

body {
     font-family: "Poppins", sans-serif;
     background-color: var(--blue-color);
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 120px;
     width: 100%;
     background-color: var(--dark-color);
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.wrapper {
     width: 90%;
     max-width: 25em;
     background-color: #ffffff;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
     padding: 2em;
     border-radius: 0.8em;
}

label {
     display: block;
     font-weight: 600;
}

input#amount {
     font-weight: 400;
     font-size: 1.2em;
     display: block;
     width: 100%;
     border-bottom: 2px solid #02002c;
     color: #7a789d;
     margin-bottom: 2em;
     padding: 0.5em;
}


.dropdowns {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 1em;
}

select {
     width: 100%;
     padding: 0.6em;
     font-size: 1em;
     border-radius: 0.2em;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image: url("/arrow-down.svg");
     background-repeat: no-repeat;
     background-position: right 15px top 50%, center;
     background-size: 20px 20px;
     background-color: var(--blue-color);
     color: var(--dark-color);
}

select option {
     background-color: #ffffff;
     color: #02002c;
}

button {
     font-size: 1em;
     width: 100%;
     background-color: var(--grey-color);
     padding: 1em 0;
     margin-top: 2em;
     border-radius: 0.3em;
     color: #000;
     font-weight: 600;
}

#result {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1.3em;
     font-weight: bold;
     text-align: center;
     margin-top: 1em;
     color: #da2d2dd7;
     background-color: var(--blue-color);
     padding: 0.8em 0;
}